.detailGame{
     &__backimage{
          width: 100%;
          height: 60vh;
          position: relative;
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
     }

     &__title{
          font-size: clamp(1.5rem, 3rem, 3rem);
          font-weight: 600;
          height: 30vh;
          display: flex;
          justify-content: center;
          align-items: center;
     }

     &__infos,
     &__description{
          max-width: 1100px;
          margin: 25px auto;
          padding: 0 50px 20px;
     }

     &__infos{
          display: flex;
          flex-direction: column;
          gap: 100px;

          &--top,
          &--bottom{
               display: flex;
               justify-content: space-between;
               gap: 20px;
          }
     }

     &__developers{
          margin-top: 20px;
     }

     .platforms__list,
     .tags__list,
     .genres__list{
          display: flex;
          flex-wrap: wrap;
          margin-top: 20px;
          gap: 10px;
     }

     .tags__container h4,
     .platforms__container h4 {
          text-align: right;
     }

     .platforms__list,
     .tags__list{
          justify-content: end;
     }

     .tags__container,
     .platforms__container{
          max-width: 50%;
          margin-left: auto;
     }

     h4{
          font-size: 1.5rem;
     }

     &__requirements-container{
          display: flex;
     }
}

@media screen and (max-width:800px) {
     .detailGame__infos, .detailGame__description{
          padding: 0 20px 20px;
     }

     .detailGame__infos--top, .detailGame__infos--bottom{
          flex-direction: column;
     }

     .detailGame .tags__container, .detailGame .platforms__container{
          max-width: none;
     }

     .detailGame__infos {
          gap: 20px;
     }
}