.card__container{
     margin-top: 30px;

     .searchbar{
          width: 100%;
     }
}

.slider .card__container{
     flex-wrap: nowrap;
     width: 550vw;
     margin-top: 25px;
}

@media screen and (max-width:1000px) {
     .slider .card__container{
          width: 900vw;
     }
}

@media screen and (max-width:750px) {
     .slider .card__container{
          width: 1100vw;
     }
}

@media screen and (max-width:450px) {
     .slider .card__container{
          width: 1500vw;
     }
}