.searchbar{
     padding: 20px 0;

     &__input{
          position: relative;
          background-color:  transparent;
          width: 100%;
          border: none;
          border-bottom: 2px solid #f1f1f1;
          outline: none;
          font-size: 3rem;
          color: #f1f1f1;

          &::after{
               content: "";
               height: 1px;
               background-color: red;
               position: absolute;
               left: 0;
               width: 100%;
               z-index: 99;
          }
     }

     &__error-result {
          margin-top: 100px;
     }

     #text{
          display: none;
     }
}